/** Generel / etc **/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #555;
}

video {
    width: 100%;
}

iframe {
    width: 100%;
    height: 13.5vw;
}

section {
    padding: 4vw;
    margin: 4vw;
    border-radius: 4vw;
}

img {
    width: 100%;
}

.no_video {
    width: 100%;
    height: 12.9vw;
    background-color: #BBB;
    border: 0.3vw solid #000;
}

/* Flexbox */

.container {
    display: flex;
}

.column {
    width: 100%;
    flex-grow: 1;
}

/* Text */

p {
    margin: 2vw 0;
}

h1 {
    font-size: 5vw;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    margin: 3vw auto;
    width: 50vw;
}

/* prefixes til sections */

.bg_pri {
    background-color: #d47778;
    color: #FFF;
}

.bg_sec {
    background-color: #FFF;
    color: #000;
}

/* Splash */

#splash a {
    font-size: 1.2em;
    font-weight: 700;
    color: darkblue;
    margin: 3vw 3vw 3vw 0;
}

#splash p {
    margin-top: 0;
    font-size: 1.2em;
}

#splash h1 {
    margin-bottom: 0;
}

/* Scrum */

/* Persona */

#persona img {
    width: 40vw;
}

#persona div {
    width: 80vw;
}

/* App ide */

#app_ide h3 {
    margin: 4vw 0 2.5vw 0;
}

/* Data */

#data iframe {
    width: 50vw;
    height: 28.125vw;
}

/* App ikon */

#ikon div {
    background-color: #bbb;
    padding: 0 0 5vw 6vw;
    margin: 4vw;
    border-radius: 3vw;
}

/* XD */

#test_xd iframe {
    width: 50vw;
    height: 28.125vw;
}

/* Gruppe */

#gruppe p {
    font-size: 1.2em;
}

#gruppe strong {
    font-size: 1.2em;
}

/*** PRÆSENTATIONSSITE ***/

#preasentation iframe {
    height: 31vw;
}

#preasentation {
    margin: 0;
    border-radius: 0;
    background-color: #FFF;
    height: 100%;
}

.app_vid {
    height: 44vw;
}

.app_vid video {
    width: 12.2vw;
    position: absolute;
    left: 18.7vw;
    top: 29.7vw;
    z-index: 3;
}

.app_vid img {
    width: 20vw;
    top: 26vw;
    left: 15vw;
    z-index: 2;
    position: absolute;
}

.center_2 {
    width: 60vw;
    margin: 3vw auto;
}

.prov {
    font-size: 2vw;
}

.buttons {
    width: 50vw;
    padding: 0 0 0 9vw;
}

.buttons div {
    text-align: center;
    width: 20vw;
    background-color: #599ea1;
    color: #000;
    height: 3vw;
    font-size: 2vw;
    padding: 1.5vw;
    margin: 4vw 2vw;
}

.buttons p {
    margin: 5vw 2vw;
}

.buttons a {
    text-decoration: none;
}

.buttons a:hover {
    font-weight: 600;
}
